.backstretch{
	height:150px;
	line-height:150px;
	text-align:right;
	margin-bottom:40px;
	background:$black center center repeat;
	padding:0 80px;
	&.featured{
		height:430px;
		line-height: 430px;
		text-align: left;
		margin-bottom:25px;
	}
	.source{
		display:none;
	}

	@media all and (max-width:550px){
		padding: 0 40px;
	}

	@media all and (max-width:460px){
		padding:0 20px;
	}

}